{{#author}}
<div class="row">
  <header class="post-full-header z-depth-2">
    <div class="container">
      {{#if image}}<img class="circle responsive-img z-depth-1" id="header-img" src="{{image}}"/>{{/if}}
      <h1 class="post-title ">{{name}}</h1>
    </div>
  </header>
</div>
{{/author}}
