<div class="parallax-container">
  <div class="parallax">
      <div style="background-image: url({{@blog.cover}});height:100%">
          <img src={{@blog.logo}} style="display:block;width:40%" />
      </div>

  </div>
</div>
