<div class="section intro">
  <div class="row">
    <div class="container">
      <p class="flow-text">Welcome to Azert (pronounced Assert), the blogging home of Mark Smith and place to showcase personal projects I find the time to complete.
        I am a Software Developer based in Belfast, Northern Ireland and love all things tech and interesting!
      </p>
    </div>
   </div>
 </div>
