{{#post}}
<div class="row">
  <header class="post-header" style="{{#if image}}background:url({{image}}) no-repeat center center;background-size:cover;{{/if}}">
    <div class="container">
      <h1 class="post-title">{{title}}</h1>
    <div>
  </header>
</div>
{{/post}}
