<div class="row">

      <div class="col s4">
        <div class="center promo promo-example">
          <i class="fa fa-github teal-text"></i>
          <p class="promo-caption"></p>
          <p class="light center">I post pretty much all my code to GitHub. I will also be adding any snippets I use for articles to my Gists stream.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Speeds up development</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
              </div>
      </div>
      <div class="col s4">
        <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Speeds up development</p>
                <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
              </div>
      </div>

    </div>
