<div class="section">
  <div class="row">
    <div class="container">
      <div class="row">
        <h3>Quick Links</h2>
          <a class="col s4" href="http://www.github.com/marknumskull" target="_blank" title="GitHub">
            <div class="center promo promo-example z-depth-1">
              <i class="fa fa-github teal-text"></i>
              <p class="promo-caption">Azert GitHub</p>
              <p class="light center">Most projects are hosted here and any tutorials I post will have their source here.</p>
            </div>
          </a>
          <a class="col s4" href="/projects" title="Projects">
            <div class="center promo promo-example z-depth-1">
              <i class="fa fa-code teal-text"></i>
              <p class="promo-caption">Projects</p>
              <p class="light center">Want information on my completed and in progress projects, this is the place to go.</p>
            </div>
          </a>
          <a class="col s4" href="/projects" title="YouTube">
            <div class="center promo promo-example z-depth-1">
              <i class="fa fa-youtube teal-text"></i>
              <p class="promo-caption">Azert YouTube Channel</p>
              <p class="light center">Go here for video tutorials and code walk throughs.<br/><strong>Don't forget to subscribe!</strong></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
