<aside class="latest-posts collection z-depth-1">
  <header>
    <h5>
      All Topics
    </h5>
  </header>
  {{#get "tags"}}
    {{#foreach tags}}
      <a href="{{url}}" class="collection-item">{{name}}</a>
    {{/foreach}}
  {{/get}}
</aside>
