{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> header}}

<div class="section">
  <div class="row">
    <div class="container">
      <div class="card-panel teal">
      <p class="flow-text white-text">Welcome to Azert Software, the blogging home of Mark Smith and place to showcase personal projects I find the time to complete.
        I am a Software Developer based in Belfast, Northern Ireland and love all things tech and interesting!
      </p>
    </div>
    <header class="parent">
      <h2 class="left flow-text">Latest Posts</h2>
      <a class="right" href="/tag" tooltip="View All">View all posts</a>
    </header>
    {{> latest-posts}}
    {{> promo}}
   </div>

  </div>
</div>
