{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> header}}

<div class="section white" style="height:500px">
  <div class="container">
<p class="flow-text">Welcome to Azert Software, the blogging home of Mark Smith. I am a
Software Developer based in Belfast and loved all things tech and interesting.
</p>

  {{#post}}
    {{content}}
  {{/post}}
</div>
</div>
