{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

{{> post-header}}
<div class="row">
  <main class="container" role="main">
  <div class="col m9 s12">
    {{> post-topics}}
    {{#post}}
    <article class="{{post_class}} flow-text">
        <section class="post-content">
            {{content}}
        </section>

        <h3>Comment</h3>
        <p>Got something interesting to add, leave a comment below!</p>
        {{> discuss}}
    </article>
    {{/post}}


  </div>

  <div class="col m3 hide-on-small-only">
    {{> latest-posts-aside}}
    {{> tag-list}}
  </div>
    </main>
</div>
