/* Global Variables live here */
@black:#000;

/* Size stuff */
@x-large:15rem;
@xx-large:25rem;

/* Positioning */
.parent{
    display: block;
    overflow: hidden;
    position: relative;
}

.center-item{
  margin-left:auto;
  margin-right:auto;
}
/* Navigation */
.brand-logo{
  img{
    width:1.25em;
    position:relative;
    top:.25em;
  }
}


/* Site headers */

.feature-header{
  height:30rem;
  position:relative;
  display: block;
  img{
    width:17rem;
    display: block;
    top:50%;
    left:50%;
    margin-top:-8.5rem;
    margin-left:-8.5rem;
    position: absolute;
  }
}

/* Home Page */

.promo{
  height:@xx-large;
  padding:0.5rem;
  i{
    font-size:@x-large;
  }
  p{
    color:black;
  }
}

.card-image{
  span{
    width:100%;
    background:black;
    opacity: 0.7;
  }
}

.parent{
  .right-link{
    position: absolute;
    right:0;
    bottom:0;
    margin-bottom:20px;
    text-transform: uppercase;
  }
}

/* Posts */
.post-card{
  margin:2em;
  height:300px;
  .post-card-img{
    background-size:cover;
    height:100%;
  }
}
