/* Site headers */
.feature-header {
  height: 30rem;
  position: relative;
  display: block;
  background: #048e81;
}
.feature-header img {
  width: 37rem;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -7.5rem;
  margin-left: -18.5rem;
  position: absolute;
}
/* Shared global mixens */
/* Size stuff */
/* Positioning */
.parent {
  display: block;
  overflow: hidden;
  position: relative;
}
.center-item {
  margin-left: auto;
  margin-right: auto;
}
pre {
  padding: 1rem;
  border-radius: 5px;
  background: #e2e2e2;
  font-size: .75em;
}
.chip {
  border-radius: 0;
}
a {
  color: #048e81;
}
.parent .right-link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card-image {
  height: 15rem;
  background: #048e81;
}
/* Navigation */
.brand-logo img {
  width: 4.5em;
  position: relative;
  top: .25em;
}
.navbar-fixed nav {
  background: #08877b;
}
/* Posts - list */
.post-card {
  margin: 2em;
  height: 300px;
}
.post-card .post-card-img {
  background-size: cover;
  height: 100%;
}
.post-card:hover {
  background: #e2e2e2;
}
.post-card {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.post-card .post-header,
.post-card .post-excerpt {
  color: #232323 !important;
}
.post-card h1:hover {
  color: #039be5;
}
/*Home page post preview cards*/
.card-image span {
  width: 100%;
  background: black;
  opacity: 0.7;
}
.parent .right-link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* Promo */
.promo {
  height: 25rem;
  padding: 0.5rem;
}
.promo i {
  font-size: 15rem;
}
.promo p {
  color: black;
}
.promo:hover {
  background: #e2e2e2;
}
.promo {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.post .post-header {
  text-align: center;
  background: #048e81;
  color: #fff;
}
.post-content img {
  width: 100%;
  height: auto;
}
footer.page-footer {
  background: #455a64;
}
footer.page-footer .footer-copyright {
  background: #42545c;
}
.post-header {
  height: 30rem;
  position: relative;
  color: #fff;
  text-align: center;
  display: block;
  background: #048e81;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.post-header .container {
  padding-top: 10rem;
}
.post-header .container .post-meta {
  margin-top: 1.8rem;
}
.latest-posts header {
  padding: 0 20px;
}
.latest-posts .card-image {
  height: 30rem;
}
.post-header-meta {
  padding-top: 1.8rem;
  text-transform: uppercase;
}
.post-header-meta .chip {
  margin-top: 1rem;
}
.post-header-meta .divider {
  margin-top: 1.8rem;
}
