@import "colours";

/* Site headers */
.feature-header{
  height:30rem;
  position:relative;
  display: block;
  background:@main-color;
  img{
    width:37rem;
    display: block;
    top:50%;
    left:50%;
    margin-top:-7.5rem;
    margin-left:-18.5rem;
    position: absolute;
  }
}

.post-template{
  display:none;
}
