@import "colours";
/* Shared global mixens */

@transition-background: background .3s;

/* Size stuff */
@x-large:15rem;
@xx-large:25rem;


/* Positioning */
.parent{
    display: block;
    overflow: hidden;
    position: relative;
}

.center-item{
  margin-left:auto;
  margin-right:auto;
}

.chip{
  a{
    color:@url-blue;
  }
}

pre{
  padding: 1rem;
  border-radius:5px;
  background:@light-gray;
}
