@import "colours";

.post-full-header{
  height:30rem;
  position:relative;
  display: block;
  color:#fff;
  text-align: center;
  display: table-cell;
  width:100vw;
  vertical-align: middle;
  background:@main-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;

  h1{
    letter-spacing: 1.2rem;
    font-size:7rem;
  }
}
