@import "colours";
@import "globals";

/* Posts - list */
.post-card{
  cursor:pointer;
  .post-card-img{
    background-size:cover;
    height:100%;
  }
  .post-body{
    margin:0 1rem 1.5rem 0;
  }
}

.post-card:hover{
  background:#ddd;
}

.post-card{
  transition: @transition-background;
}

.post-card{
    .post-header,.post-excerpt{
        color:@black !important;
      }
}
